body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: maroon;
}

p {
  position: fixed;
  top: 500px;
  right: -200px;
  width: 400px;
  color: red;
  font-size: 20px;
  font-family: fantasy;
  background-image: repeating-linear-gradient(red, white 10%, brown 20%);
}

.kaartEen {
  position: absolute;
  top: 300px;
  right: 50px;
  width: 250px;
  transform: skewY(20deg);
}

.kaartTwee {
  position: absolute;
  right: 400px;
  top: 100px;
  width: 170px;
  transform: rotate(20deg);
}

h1 {
  position: absolute;
  bottom: 5%;
  left: 30%;
  transform: scaleX(1.5);
  transform: rotate(-5deg);
  width: 500px;
}

h5 {
  position: absolute;
  top: 100px;
  color: blue;
  width: 100px;
  text-shadow: 50px 50px 5px red;
}

audio {
  position: absolute;
  transform: rotate(90deg);
  bottom: 250px;
  right: 40%;
}

a {
  margin: 0;
  padding: 0;
  position: absolute;
  color: white;
  font-family: sans-serif;
  font-size: 200px;
  width: 95%;
  height: 100;
  border: 15px solid white;
  bottom: 50%;
  background-color: black;
  z-index: -1;
}

video {
  position: absolute;
  width: 400px;
  left: 15%;
  bottom: 40%;
}

button {
  position: absolute;
  left: 300px;
  bottom: 270px;
}

iframe {
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: -4;
}
